*jar
.lein-plugins/
/classes/
/log/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.nrepl-port
.repl
/.lein-env
/env/dev/clj/hiiop/version.clj
/env/prod/clj/hiiop/version.clj
/profiles.clj
/resources/public/css/screen.css
/resources/public/js/compiled/**
figwheel_server.log
pom.xml
