{
 :actions
 {
  :cancel "Peruuta"
  :profile
  {
   :cancel-editing "Peruuta"
   :edit "Muokkaa"
   :save-profile "Tallenna"
   :sign-out "Kirjaudu ulos"
  }
  :quest
  {
   :browse "Löydä tehtävä"
   :cancel "Peruuta"
   :create "Ilmoita tehtävä"
   :edit "Muokkaa tehtävää"
   :signup "Ilmoittaudu mukaan"
  }
  :share "Hiiop! Jaa kaverille"
  :user
  {
   :login "Kirjaudu"
   :logout "Kirjaudu ulos"
   :register "Rekisteröidy"
   :save-password "Tallenna salasana"
  }
 }
 :category
 {
  :culture "Kulttuuri ja taide"
  :disabilities "Vammais- ja mielenterveystyö"
  :elderly "Ikäihmiset"
  :environment "Ympäristö ja eläimet"
  :equality "Monikulttuurisuus ja tasavertaisuus"
  :foreign-aid "Kehitys- ja katastrofiapu"
  :inequality "Syrjäytyminen ja köyhyys"
  :kids-and-youngsters "Lapset ja nuoret"
  :peer-support "Vertaistuki ja neuvonta"
  :well-being "Liikunta ja hyvinvointi"
 }
 :dropzone
 {
  :dict-cancel-upload "Peruuta kuvan lisäys"
  :dict-cancel-upload-confirmation "Haluatko varmasti peruuttaa lisäyksen?"
  :dict-default-message "Lisää kuva"
  :dict-fallback-message "Selaimesi ei ole tuettu"
  :dict-file-too-big "Kuva on liian iso"
  :dict-invalid-file-type "Kuvatyyppi ei ole tuettu"
  :dict-max-files-exceeded "Et voi lisätä enempää kuvia"
  :dict-remove-file "Poista kuva"
  :dict-response-error "Hups! Kuvan lisäys ei onnistunut."
 }
 :email
 {
  :quest
  {
   :place "Paikka"
   :time "Aika"
   :organizer "Järjestäjä"
  }
 }
 :errors
 {
  :agreement
  {
   :please-agree "Hyväksy käyttöehdot"
  }
  :date
  {
   :needs-to-be-after "Tulee olla myöhemmin kuin %1"
   :needs-to-be-before "Tulee olla aiemmin kuin %1"
  }
  :date-needs-to-be-before "Ajan pitää olla ennen %1"
  :email
  {
   :in-use "Sähköposti on jo käytössä"
   :not-valid "Sähköposti kuten erkki@esimerkki.fi"
  }
  :general "Hups! Jotain hassua sattui. "
  :hashtag "Hashtag alkaa risuaidalla, eikä voi sisältää viivoja."
  :login
  {
   :check "Tarkista sähköposti ja salasana"
  }
  :non-empty-string "Tyhjä arvo ei käy"
  :number
  {
   :greater-than-one "Tulee olla 1 suurempi"
   :greater-than-zero "Tulee olla 0 suurempi"
  }
  :password
  {
   :not-same "Salasanat eivät täsmää."
   :not-valid "Salasanan täytyy sisältää yksi iso kirjain, yksi numero ja yhteensä vähintään kuusi merkkiä."
  }
  :paticipate-days
  {
   :not-valid "Voi olla numero nollasta ylöspäin"
  }
  :phone
  {
   :not-valid "Tarkista puhelinnumero"
  }
  :picture
  {
   :type-not-supported "Kuvatyyppi %1 ei ole tuettu"
  }
  :token
  {
   :expired "Linkki vanhentunut!"
  }
  :unauthorized
  {
   :content "Hups! Muokkaaminen epäonnistui."
   :title "Muokkaaminen epäonnistui."
  }
  :user
  {
   :register
   {
    :fail "Rekisteröinti epäonnistui."
    :success "Rekisteröinti onnistui!"
   }
   :token
   {
    :contact "Jos et saanut luotua tunnusta, ota yhteyttä hiiop@op.fi."
    :invalid "Rekisteröintiavain ei ole enää voimassa."
   }
  }
 }
 :footer
 {
  :contact "Ota yhteyttä"
  :contact-page-key "otayhteytta"
  :copyright "© OP Ryhmä"
  :faq "Usein kysyttyjä kysymyksiä"
  :faq-page-key "faq"
  :follow-us "Hiiop! Seuraa meitä"
  :privacy "Henkilötietojen käsittely"
  :privacy-page-key "tietosuoja"
  :rules-and-guidelines "Info"
  :terms-of-service "Käyttöehdot"
  :terms-of-service-page-key "kayttoehdot"
 }
 :header
 {
  :title "Hiiop"
 }
 :missing ":fi teksti puuttuu"
 :name "Hiiop"
 :pages
 {
  :activate
  {
   :confirm-password "Salasana uudestaan"
   :done
   {
    :text "Voit nyt kirjautua."
    :title "Käyttäjä luotu!"
   }
   :password "Salasana"
   :title "Luo salasana"
  }
  :edit-profile
  {
   :name "Nimi"
   :phone "Puhelinnumero (ei pakollinen)"
  }
  :ideas
  {
   :title "Tekijöiden tarinoita"
   }
  :faq
  {
   :title "Mikä on Hiiop?"
   }
  :index
  {
   :banner
   {
    :content "Täältä löydät sopivan tavan tehdä vapaaehtoistyötä ja paikan kutsua apukäsiä vapaaehtoistehtävääsi. Lähde mukaan vapaaehtoistyöhön itsenäisyyden juhlavuoden kunniaksi!"
    :header "Hiiop! Ota koppi vapaaehtoistyöstä"
   }
   :category-selector
   {
    :search "Näytä tehtävät"
    :title "Valitse teema ja selaa vapaaehtoistehtäviä"
   }
   :counter
   {
    :days "%1 p"
    :hundred-years "100 v"
    :months "%1 kk"
    :content "Tavoitteena on 100 vuotta vapaaehtoistyötä. Siihen tarvitaan meitä kaikkia. Laskuri huomioi sivuston kautta tehdyn vapaaehtoistyön:"
    :years "%1 v"
   }
   :index-links
   {
    :browse-quests "Löydä tehtävä"
    :browse-quests-text "Ryhdy vapaaehtoiseksi ja löydä oma tapasi auttaa"
    :create-quest "Ilmoita tehtävä"
    :create-quest-text "Järjestä vapaaehtoistehtävä ja kutsu kaverisi mukaan"
    :read-stories "Lue tarinoita"
    :read-stories-text "Tutustu kokemuksiin vapaaehtoistoiminnasta"
   }
   :social-feed
   {
    :title "Jaa kokemuksesi ja kutsu ystäväsi mukaan #hiiop"
    }
   :social-title-prefix "Hiiop!"
   :title "100 vuotta vapaaehtoistyötä"
   :description "Millainen on sinun päiväsi vapaaehtoisena? hiiop100.fi"
   }
  :login
  {
   :email "Sähköpostiosoite"
   :forget-password "Olen unohtanut salasanani"
   :login-subtitle "Kirjautuneena käyttäjänä voit ilmoittaa ja muokata tapahtumia sekä hallinnoida tapahtuman osallistujia. Näet myös kaikki vapaaehtoistehtävät, joihin olet osallistunut Hiiop100.fi kautta."
   :password "Salasana"
   :register "Luo tunnus"
   :remember-me "Muista minut"
   :title "Kirjaudu palveluun"
  }
  :moderate
  {
   :cancel "Peruuta"
   :moderate-quest "Hyväksy"
   :reject-quest "Hylkää"
   :reject-quest-message-title "Viesti hylättäessä tehtävää"
   :title "Tehtävän hyväksyntä"
   :unmoderated-quests "Käsittelemättömät tehtäväsi"
  }
  :password-reset
  {
   :check-email
   {
    :text "Hiiop! Lähetimme sinulle linkin, jota klikkaamalla pääset muuttamaan salasanasi."
    :title "Tarkista sähköpostisi"
   }
   :done
   {
    :text "Voit nyt kirjautua"
    :title "Salanasi on vaihdettu!"
   }
   :expired
   {
    :text "Tilaa täältä uusi salasana"
   }
   :send "Lähetä linkki"
   :text "Ei hätää! Kirjoita alle sähköpostiosoitteesi. Lähetämme sinulle linkin, jota klikkaamalla pääset muuttamaan salasanasi."
   :title "Unohditko salasanasi?"
  }
  :profile
  {
   :cancel "Peruuta"
   :cancel-enrollment "Peru ilmoittautuminen"
   :delete "Poista tapahtuma"
   :do-you-want-to-cancel-enrollment "Oletko varma, että haluat perua ilmoittautumisen tehtävään?"
   :do-you-want-to-delete "Oletko varma, että haluat poistaa tapahtuman?"
   :moderation "Moderointi"
   :my-event "Oma tapahtuma"
   :no-upcoming-quests "Sinulla ei vielä ole tulevia tehtäviä"
   :past-quests "Menneet vapaaehtoistehtäväsi"
   :pending-approval "Odottaa hyväksymistä"
   :published "Julkaistu"
   :rejected "Hylätty"
   :title "Käyttäjä"
   :upcoming-quests "Tulevat vapaaehtoistehtäväsi"
  }
  :quest
  {
   :browse
   {
    :filter
    {
     :category "Miten haluaisit tehdä?"
     :when "Milloin?"
     :where "Missä?"
    }
    :not-found "Juuri näillä hakuehdoilla ei löytynyt tapahtumia. Laajenna hakuehtoja ja matka vapaaehtoiseksi voi alkaa."
    :title "Hiiop! Löydä sinulle sopiva vapaaehtoistehtävä"
   }
   :created
   {
    :private "Onneksi olkoon, olet luonut yksityisen vapaaehtoistehtävän! Voit nyt tarkastella luomaasi tehtävää omalla profiilisivullasi. Kaikki vapaaehtoistehtävät tarkastetaan ja saat viestin, kun tehtäväsi on hyväksytty. Tähän menee suunnilleen 1-2 päivää. Yksityiseen vapaaehtoistehtävään voit kutsua osallistujia ainoastaan lähettämällä heille linkin, jonka saat sähköpostiisi tapahtuman julkaisun jälkeen."
    :public "Onneksi olkoon, olet luonut julkisen vapaaehtoistehtävän! Voit nyt tarkastella luomaasi vapaaehtoistehtävää omalla profiilisivullasi. Kaikki vapaaehtoistehtävät tarkastetaan ja saat viestin, kun tehtäväsi on hyväksytty. Tämän jälkeen löydät tehtäväsi myös kaikkien vapaaehtoistehtävien listauksesta. Tähän menee suunnilleen 1-2 päivää."
    :title "Tehtäväsi on luotu"
   }
   :edit
   {
    :address "Osoite"
    :button
    {
     :add-organisation "Haluatko lisätä tehtävään tietoa yhteisöstäsi tai organisaatiostasi?"
     :cancel "Peruuta"
     :preview "Esikatsele ja julkaise"
     :remove "Poista tehtävä"
     :reveal-end-time "Lisää päättymisaika"
     :submit "Julkaise"
    }
    :cancel
    {
     :confirmation "Oletko varma,että haluat poistaa tehtävän? Jos vapaaehtoistehtävä on jo julkinen, siihen ilmoittautuneet vapaaehtoiset saavat automaattisesti viestin peruutuksesta."
    }
    :closed "Tehtävä on yksityinen ja siihen voi osallistua ainoastaan järjestäjältä saadun yksityisen linkin kautta."
    :description "Kerro tehtävän sisällöstä"
    :end-date "Lisää päättymispäivämäärä"
    :end-date-and-time "Päättymispäivämäärä ja -kellonaika"
    :end-time "Kellonaika"
    :hashtags "Aihetunnisteet eli hashtagit"
    :location
    {
     :label "Osoite (valitse osoite alasvetovalikosta)"
     :placeholder "Anna sijainti"
    }
    :max-participants
    {
     :amount-of-people "henkilöä"
     :can-join "Vapaaehtoistehtävään voi osallistua"
    }
    :name "Vapaaehtoistehtävän nimi"
    :open "Tehtävä on avoin kaikille"
    :organisation
    {
     :description "Kerro yhteisösi toiminnasta"
     :name "Järjestävä yhteisö tai järjestö"
    }
    :organiser-will-participate "Kyllä, osallistun myös itse tehtävään vapaaehtoisena"
    :party
    {
     :cancel-remove "Peruuta"
     :confirm-remove "Poista ilmoittautuminen?"
     :empty "Jaa kokemuksesi ja kutsu ystäväsi mukaan #hiiop"
     :mail-participants "Lähetä sähköpostiviesti piilokopiona osallistujille"
     :title "Tehtävääsi ilmoittautuneet"
    }
    :picture
    {
     :info "Onhan sinulla on oikeudet kuvasi käyttöön? Kuvan käyttöön tarvitset aina kuvaajan nimen. Kuvan tulee olla vähintään 1100 pikseliä leveä, 500 pikseliä korkea ja maksimissaan 3 megaa."
     :remove "Haluatko varmasti poistaa kuvan?"
     :remove-link "Vaihda kuva"
     :title "Lisää kuva"
     :upload-failed "Kuvan lisääminen epäonnistui."
    }
    :remove
    {
     :cancel "Peruuta"
     :confirm "Poista tehtävä"
     :title "Oletko varma, että haluat poistaa tehtävän? Jos vapaaehtoistehtävä on jo julkinen, siihen ilmoittautuneet vapaaehtoiset saavat automaattisesti viestin peruutuksesta."
     }
    :secret-link
    {
     :title "Salainen linkki"
    }
    :start-date "Päivämäärä"
    :start-date-and-time "Päivämäärä ja kellonaika"
    :start-time "Kellonaika"
    :subtitles
    {
     :content "1/4 Vapaaehtoistehtävän sisältö"
     :info
     {
      :content "Kerro, mitä haluat saada aikaan yhteisvoimin. Ole innostava! Mitä päivän aikana tapahtuu? Miten vapaaehtoiset voivat osallistua ja auttaa? Millaisia voimia ja kykyjä tarvitset mukaan?"
      :participation "Kerro kuinka moni voi osallistua toimintaan."
      :related-to "Valitse yksi tai useampi teema, jotka kuvaavat parhaiten vapaaehtoistehtävääsi."
     }
     :participation "4/4 Osallistuminen"
     :related-to "3/4 Mihin teemaan vapaaehtoistehtävä liittyy?"
     :time-place "2/4 Missä ja milloin vapaaehtoistoiminta järjestetään?"
    }
    :title "Ilmoita vapaaehtoistehtävä"
    :town "Paikkakunta"
   }
   :edited
   {
    :content "Tekemäsi muutokset tulevat näkyviin 1-2 päivän kuluessa."
    :title "Tehtävääsi on muokattu"
   }
   :list
   {
    :filter
    {
     :category "Mitä haluaisit tehdä?"
     :clear "Tyhjennä"
     :when "Milloin?"
     :where "Missä?"
    }
    :not-found "Juuri näillä hakuehdoilla ei löytynyt tapahtumia. Laajenna hakuehtoja ja matka vapaaehtoiseksi voi alkaa."
    :title "Löydä oma vapaaehtoistyö"
   }
   :part
   {
    :confirm "Peru ilmoittautuminen"
    :success "Peruminen onnistui!"
    :text "Oletko varma, että haluat perua ilmoittautumisen tehtävään?"
    :title "Peru ilmoittautuminen"
    :to-quest "Takaisin tehtävään"
   }
   :preview
   {
    :buttons
    {
     :edit "Muokkaa"
     :publish "Julkaise tehtävä"
    }
    :check "Tarkista kohteesi tiedot ja että sinulla on oikeus käyttää lisäämääsi kuvaa."
    :title "Vapaaehtoistehtävän esikatselu"
   }
   :title "Löydä tehtävä"
   :view
   {
    :join
    {
     :fail "Hups! ilmottautumisesi epäonnistui. Tarkista sähköpostiosoitteesi. Vai oletko jo aiemmin ilmoittautunut tehtävään?"
     :success "Loistavaa, että olet mukana - kiitos ilmottautumisestasi! Saat sähköpostiisi lisätietoa tapahtumasta."
     :to-front-page "Sulje"
    }
    :participants "paikkaa vielä avoinna"
    :signup
    {
     :agree-to-terms-and-conditions "Olen lukenut palvelun ehdot ja hyväksyn ne. Ilmoittautuminen on sitova. Esteen sattuessa voit perua osallistumisen."
     :days "Kuinka monena päivänä aiot osallistua"
     :email "Sähköposti"
     :name "Nimi"
     :phone "Puhelinnumero"
     :subtitle "Tervetuloa vapaaehtoiseksi!"
    }
   }
  }
  :register
  {
   :check-your-email "Hiiop! Tarkista sähköpostisi"
   :email "Sähköpostiosoite"
   :email-sent "Lähetimme sinulle sähköpostia. Viestissä on linkki, jota klikkaamalla pääset luomaan salasanasi ja kirjautumaan palveluun. Tähän saattaa mennä pari minuuttia. Jos viestiä ei kuulu, kurkkaa roskapostisi."
   :name "Nimi"
   :phone "Puhelinnumero"
   :register-subtitle "Kirjautuneena käyttäjänä voit ilmoittaa ja muokata tapahtumia sekä hallinnoida tapahtuman osallistujia. Näet myös kaikki vapaaehtoistehtävät, joihin olet osallistunut Hiiop100.fi kautta."
   :title "Hiiop! Tervetuloa mukaan - luo tunnus"
  }
  :static
  {
   :stories-index-header "Tekijöiden tarinoita vapaaehtoistyöstä"
   :stories-index-subtitle "Ideoita ja inspiraatiota, tekijöitä ja tarinoita vapaaehtoistyön arjesta."
   :stories-title "Tekijöiden tarinoita"
  }
 }
 :pikaday
 {
  :first-day 1
  :months ["Tammikuussa" "Helmikuussa" "Maaliskuussa" "Huhtikuussa" "Toukokuussa" "Kesäkuussa" "Heinäkuussa" "Elokuussa" "Syyskuussa" "Lokakuussa" "Marraskuussa" "Joulukuussa"]
  :next-month "Seuraava"
  :previous-month "Edellinen"
  :weekdays ["sunnuntai" "maanantai" "tiistai" "keskiviikko" "torstai" "perjantai" "lauantai"]
  :weekdays-short ["su" "ma" "ti" "ke" "to" "pe" "la"]
 }
 :title "Hiiop – %1"
}
