{
 :missing ":fi teksti puuttuu"
 :name "HiiOP"
 :title "HiiOP – %1"

 :header
 {:title "HiiOP"}

 :pages
 {
  :index
  {:title :name}

  :events
  {:title "Löydä tehtävä"}

  :ideas
  {:title "Kokemuksia vapaaehtoistyöstä"}
  }

 :actions
 {
  :events
  {:create  "Ilmoita tehtävä"
   :browse  "Löydä tehtävä"}

  :user
  {:login    "Kirjaudu"
   :register "Rekisteröidy"
   :logout   "Kirjaudu ulos"}}
 }
