{
 :missing ":sv text är inte här"

 :title "HiiOP – %1"
 :name "HiiOP"

 :pages
 {
  :frontpage
  {:title "Frontsidan"}

  :quests
  {:title "Eventer"}
  }

 :pikaday
 {:previous-month "Edellinen"
  :next-month     "Seuraava"
  :months         ["tammikuu"
                   "helmikuu"
                   "maaliskuu"
                   "huhtikuu"
                   "toukokuu"
                   "kesäkuu"
                   "heinäkuu"
                   "elokuu"
                   "syyskuu"
                   "lokakuu"
                   "marraskuu"
                   "joulukuu"],
  :weekdays       ["sunnuntai"
                   "maanantai"
                   "tiistai"
                   "keskiviikko"
                   "torstai"
                   "perjantai"
                   "lauantai"],
  :weekdays-short ["su" "ma" "ti" "ke" "to" "pe" "la"]
  :first-day      1
  }
 }
