{
 :missing ":sv teksti puuttuu"
 :name "Hiiop"
 :title "Hiiop – %1"

 :header
 {:title "Hiiop"}

 :footer
 {:rules-and-guidelines "Ohjeet ja säännöt"
  :faq "Info"
  :faq-page-key "faq"
  :contact "Ta kontakt"
  :contact-page-key "otayhteytta"
  :terms-of-service "Användarvillkor"
  :terms-of-service-page-key "kayttoehdot"
  :privacy "Behandling av personuppgifter"
  :privacy-page-key "tietosuoja"
  :follow-us "Hiiop! Följ oss"
  :copyright "© OP Ryhmä"}

 :pages
 {
  :404
  {:title "Hups - 404"
   :content "Täältä ei löytynyt mitään."}

  :moderate
  {:title "Tehtävän hyväksyntä"
   :unmoderated-quests "Käsittelemättömät tehtävät"
   :reject-quest "Hylkää"
   :reject-quest-message-title "Viesti hylättessä"
   :cancel "Avbryt"
   :moderate-quest "Hyväksy"
   }

  :password-reset
  {:title "Har du glömt ditt lösenord?"
   :send "Sänd länk"
   :text "Ingen fara! Skriv din e-postadress här. Vi sänder dig en länk som du kan använda för att byta lösenord."

   :check-email
   {:title "Kontrollera din e-post"
    :text "Vi har sänt dig en länk som du kan använda för att byta lösenord. "}

   :done
   {:title "Ditt lösenord har bytts!"
    :text "Du kan nu logga in"}

   :expired
   {:text "Tilaa täältä uusi."
    }
   }

  :index
  {:title "Etusivu"
   :banner
   {:header "Årets viktigaste dag är dagen som frivillig!"
    :content "Hiiop är en träffpunkt för frivilligarbete. Här hittar du lätt de sätt och platser för frivilligarbete som passar just dig. Vi kan alla delta i frivilligarbete. Ge också du en dag av ditt år som gåva till självständighetens jubileumsår och Finland."}
   
   :counter
   {:title "Kom med! Frivilligt arbete har gjorts för att hedra självständighetens jubileumsår totalt:"
    :hundred-years "100 v"
    :days "%1 p"
    :months "%1 kk"
    :years "%1 v"}

   :category-selector
   {:title "Välja tema och delta i frivilligarbete"
    :search "Visa uppdrag"}

   :index-links
   {:browse-quests-text "Hitta ditt sätt att hjälpa"
    :browse-quests "Hitta uppdrag"
    :create-quest-text "Arrangera frivilligarbete och bjud in vänner"
    :create-quest "Lägg till uppdrag"
    :read-stories-text "Berättelser om frivilligarbete"
    :read-stories "Läs berättelser"}

   :social-feed
   {:title "Dela dina erfarenheter och bjud in vänner #hiiop"}
   }


  :login
  {:title "Logga in i tjänsten"
   :email "E-postadress"
   :password "Lösenord"
   :login-subtitle "Som inloggad användare kan du lägga till och ändra uppdrag. Du ser också alla frivilliguppdrag som du har deltagit i via Hiiop100.fi."
   :forget-password "Jag har glömt mitt lösenord"
   :register "Skapa kod"
   :remember-me "Kom ihåg mig"}

  :register
  {:title "Välkommen – skapa kod"
   :register-subtitle "Som inloggad användare kan du lägga till och ändra uppdrag. Du ser också alla frivilliguppdrag som du har deltagit i via Hiiop100.fi."
   :name "Namn"
   :email "E-postadress"
   :phone "Telefonnummer"
   :check-your-email "Hiiop – kontrollera din e-post"
   :email-sent "Vi har sänt e-post till dig. I meddelandet finns en länk till tjänsten, där du kan skapa ditt lösenord och logga in. Det här kan ta några minuter."}

  :static
  {:stories-title "Tarina"
   :stories-index-header "Berättelser om frivilligarbete"
   :stories-index-subtitle "Idéer och inspiration, berättelser om volontärer."}

  :profile
  {:title "Käyttäjä"
   :past-quests "Dina tidigare frivilliguppdrag"
   :upcoming-quests "Dina kommande frivilliguppdrag"
   :cancel "Avbryt"
   :delete "Ta bort uppdraget"
   :moderation "Moderointi"
   :do-you-want-to-delete "Är du säker på att du vill ta bort uppdraget?"
   :no-upcoming-quests "Du har inte ännu kommande uppdrag"
   :my-event "Oma tapahtuma"
   :cancel-enrollment "Peru ilmoittautuminen"
   :do-you-want-to-cancel-enrollment "Är du säker på att du vill ta tillbaka dina anmälan till uppdraget?"
   :pending-approval "Odottaa hyväksymistä"
   :rejected "Hylätty"
   :published "Julkaistu"}

  :edit-profile
  {:phone "Puhelinnumero (ei pakollinen)"
   :name "Nimi"}

  :activate
  {:title "Skapa lösenord"
   :password "Lösenord"
   :confirm-password "Lösenordet på nytt"
   :done
   {:title "Käyttäjä luotu!"
    :text "Voit nyt kirjautua."}}

  :quest
  {:title "Löydä tehtävä"
   :view
   {:participants "lediga platser"
    :signup
    {:subtitle "Välkommen som volontär!"
     :name "Namn"
     :email "Din e-postadress"
     :phone "Telefonnummer"
     :days "Hur många dagar vill du delta?"
     :agree-to-terms-and-conditions "Jag har läst villkoren för tjänsten och godkänner dem. Anmälan är bindande. Vid förhinder kan du ta tillbaka din anmälan."}
    :join
    {:success "Fint att du deltar – tack för din anmälan! Du kommer att få mer information om uppdraget till din e-post."
     :fail    "Hoppsan, din anmälan misslyckades. Kontrollera din e-postadress eller om du redan tidigare har anmält dig till uppdraget."
     :to-front-page "Stäng"}
    }

   :created
   {:title "Ditt uppdrag har upprättats"
    :public
    "Grattis! Du har upprättat ett offentligt frivilliguppdrag. Du kan nu se på ditt frivilliguppdrag på din profilsida. Alla frivilliguppdrag kontrolleras och efter det ser du ditt uppdrag också i listan över alla frivilliguppdrag. Det här tar ungefär 1–2 dagar."
    :private
    "Grattis! Du har upprättat ett privat frivilliguppdrag. Du kan nu se på ditt uppdrag på din profilsida. Alla frivilliguppdrag kontrolleras och efter det ser du ditt uppdrag som privat också i listan över alla frivilliguppdrag. Det här tar ungefär 1–2 dagar.

    Du kan bjuda in deltagare till ett privat frivilliguppdrag endast genom att sända dem en länk som du får till din e-post när uppdraget har offentliggjorts."
    }

   :edited
   {:title "Ditt uppdrag har ändrats"
    :content "Uppdraget är fortfarande offentligt. Dina ändringar granskas och blir synliga inom 1–2 dagar."}

   :list
   {:title "Löydä itsellesi vapaaehtoistehtävä"
    :not-found "Juuri näillä hakuehdoilla ei löytynyt tapahtumia. Koita valita useampia kiinnostuksen kohteita."

    :filter
    {:category "Miten haluat auttaa?"
     :where "Missä?"
     :when "Milloin?"
     :clear "Tyhjennä"}}

   :edit
   {:title "Ilmoita vapaaehtoistehtävä"

    :subtitles
    {:content "1/4 Frivilliguppdragets innehåll"
     :time-place "2/4 Var och när ordnas frivilligverksamheten?"
     :related-to "3/4 Till vad ansluter sig frivilliguppdraget?"
     :participation "4/4 Deltagande"

     :info
     {:content "Berätta vad du vill åstadkomma med gemensamma krafter. Var inspirerande! Vad kommer att hända under dagen? Hur kan volontärerna delta och hjälpa? Hurdana resurser och talanger behöver du?"
      :related-to "Välj ett eller flera teman som bäst beskriver ditt frivilliguppdrag."
      :participation "Berätta hur många som kan delta i verksamheten och om det finns begränsningar för att delta."
     }
    }

    :name "Frivilliguppdragets namn"
    :description "Beskriv uppdragets innehåll"
    :picture
    {:title "Lägg till bild"
     :info "Du har väl rätt att använda din bild? Då du använder en bild måste du alltid ha fotografens namn, som du kan lägga till i slutet av beskrivningen av uppdraget. Bilden måste vara minst 1100 pixlar bred och 500 pixlar hög samt mindre än 3 mega."
     :remove "Haluatko varmasti poistaa kuvan?"
     :upload-failed "Kuvan lisääminen epäonnistui."
     }

    :hashtags "Hashtaggar"

    :organisation
    {:name "Arrangerande sammanslutning eller organisation"
     :description "Berätta om er verksamhet"}

    :start-date "Datum"
    :end-date "Lägg till slutdatum"
    :start-time "Klockslag"
    :end-time "End time"
    :start-date-and-time "Datum och klockslag*"
    :end-date-and-time "Slutdatum och klockslag"

    :location {:label "Adress (välj adress i rullgardinsmenyn)*"
               :placeholder "Ange plats"}
    :address "Adress"
    :town "Ort"

    :max-participants
    {:can-join "I frivilliguppdraget kan"
     :amount-of-people "personer delta"}

    :open "Uppdraget är öppet för alla"
    :closed "Uppdraget är privat och man kan anmäla sig endast via en privat länk som fås av arrangören. Uppdraget syns inte i sökresultatet."
    :organiser-will-participate "Jag deltar också själv i uppdraget."

    :button
    {:add-organisation "Vill du lägga till information om din sammanslutning eller organisation i uppdraget?"
     :reveal-end-time "Lisää päättymisaika"
     :preview "Förhandsgranska och publicera"
     :submit "Publicera"
     :cancel "Avbryt"
     :remove "Ta bort uppdraget"}

    :remove
    {:title "Är du säker på att du vill ta bort uppdraget? Om uppdraget redan är offentligt, får de volontärer som har anmält sig till det automatiskt ett meddelande om att uppdraget har ställts in."
     :confirm "Ta bort uppdraget"
     :cancel "Avbryt"}

    :cancel
    {:confirmation "Oletko varma, että haluat poistaa tehtävän? Jos vapaaehtoistehtävä on jo julkinen, siihen ilmoittautuneet vapaaehtoiset saavat automaattisesti viestin peruutuksesta."}
    :party
    {:title "Anmälda till ditt uppdrag"
     :mail-participants "Sänd e-post till deltagarna"
     :confirm-remove "Ta bort anmälan?"
     :cancel-remove "Avbryt"
     :empty "Kerro muillekin tehtävästäsi!"}
    }

   :browse
   {:title "Hiiop! Hitta ett frivilliguppdrag som passar dig"
    :not-found "Vi hittade inte just nu uppdrag som motsvarar din sökning. Du kan bredda sökkriterierna eller lägga till ett frivilliguppdrag."

    :filter
    {:category "Hur vill du hjälpa?"
     :where "Var"
     :when "När"}}

   :part
   {:title "Ta tillbaka anmälan"
    :text "Är du säker på att du vill ta tillbaka din anmälan till uppdraget %1?"
    :confirm "Ta tillbaka anmälan"
    :success "Anmälan togs tillbaka"
    :to-quest "Tillbaka till uppdraget"}


   :preview
   {:title "Förhandsgranska uppdraget"
    :check "Kontrollera uppgifterna om ditt uppdrag och att du har rätt att använda den bild som du har lagt till."
    :buttons {:edit "Ändra"
              :publish "Publicera uppdraget"}
    }
   }

  :ideas
  {:title "Erfarenheter av frivilligarbete"}
  }

 :category
 {:kids-and-youngsters "Barn och unga"
  :elderly "Seniorer"
  :disabilities "Handikapparbete och psykisk hälsovård "
  :peer-support "Kamratstöd och rådgivning"
  :inequality "Utslagning och fattigdom"
  :foreign-aid "U-hjälp och katastrofhjälp"
  :culture "Kultur och konst"
  :equality "Kulturell mångfald och jämställdhet"
  :well-being "Motion och hälsa"
  :environment "Djur och miljö"
  }

 :actions
 {
  :quest
  {:create  "Lägg till frivilliguppdrag"
   :browse  "Hitta uppdrag"
   :edit    "Ändra uppdrag"
   :signup  "Ilmoittaudu mukaan"
   :cancel  "Avbryt"}

  :user
  {:login    "Logga in"
   :register "Rekisteröidy"
   :logout   "Logga ut"
   :save-password "Spara lösenordet"}

  :cancel "Avbryt"

  :share "Berätta för en kompis:"

  :profile
  {:sign-out "Kirjaudu ulos"
   :edit "Ändra"
   :save-profile "Tallenna"
   :cancel-editing "Avbryt"}
  }

 ;;

 :pikaday
 {:previous-month "Edellinen"
  :next-month     "Seuraava"
  :months         ["Januari"
                   "Februari"
                   "Mars"
                   "April"
                   "Maj"
                   "Juni"
                   "Juli"
                   "Augusti"
                   "September"
                   "Oktober"
                   "November"
                   "December"],
  :weekdays       ["sunnuntai"
                   "maanantai"
                   "tiistai"
                   "keskiviikko"
                   "torstai"
                   "perjantai"
                   "lauantai"],
  :weekdays-short ["su" "ma" "ti" "ke" "to" "pe" "la"]
  :first-day      1
  }

 :dropzone
 {:dict-default-message            "Lägg till bild"
  :dict-fallback-message           "Selaimesi ei ole tuettu"
  :dict-invalid-file-type          "Kuvatyyppi ei ole tuettu"
  :dict-file-too-big               "Kuva on liian iso"
  :dict-response-error             "Kuvan lisäys ei onnistunut"
  :dict-cancel-upload              "Avbryt kuvan lisäys"
  :dict-cancel-upload-confirmation "Haluatko varmasti peruuttaa lisäyksen?"
  :dict-remove-file                "Poista kuva"
  :dict-max-files-exceeded         "Et voi lisätä enempää kuvia"
  }

 :email
 {:quest
  {:time "Aika"
   :place "Paikka"}}

 :errors
 {
  :general "Hupsis! Jotain hassua sattui."
  :non-empty-string "Tyhjä arvo ei käy"
  :hashtag "Hashtag alkaa risuaidalla, eikä voi sisältää viivoja."
  :date-needs-to-be-before "Ajan pitää olla ennen %1"

  :picture
  {:type-not-supported "Kuvatyyppi %1 ei ole tuettu"}

  :user
  {:register
   {:fail "Rekisteröinti epäonnistui."
    :success "Rekisteröinti onnistui!"}

   :token
   {:invalid "Rekisteröintiavain ei ole enää voimassa."
    :contact "Jos et saanut luotua tunnusta, ota yhteyttä hiiop@op.fi."}
   }

  :password
  {:not-valid "Lösenordet måste innehålla en stor bokstav, en siffra och totalt minst sex tecken."
   :not-same  "Lösenorden stämmer inte"}

  :email
  {:not-valid "E-post, t.ex. emil@exempel.fi"
   :in-use    "Sähköposti on jo käytössä"}

  :phone
  {:not-valid "Puhelinnumero ei ole muotoa +358 40 1234567"}

  :paticipate-days
  {:not-valid "Voi olla numero nollasta ylöspäin"}

  :date
  {:needs-to-be-before "Tulee olla aiemmin, kuin %1"
   :needs-to-be-after "Tulee olla myöhemmin, kuin %1"}

  :number
  {:greater-than-one "Tulee olla 1 suurempi"
   :greater-than-zero "Tulee olla 0 suurempi"}

  :agreement
  {:please-agree "Please agree to the terms and conditions"}

  :unauthorized
  {:title "Muokkaaminen epäonnistui."
   :content "Hups, muokkaaminen epäonnistui. Tapahtuma ei ole sinun."
   }

  :token
  {:expired "Linkki vanhentunut!"}

  :login
  {:check "Tarkista sähköposti ja salasana"}
  }
 }
