form {
  label {
    flex: 3;
    flex-direction: row;
    * {
      display: flex;
    }
  }

  .input-container {
    display: flex;
    flex: 2;
    flex-direction: row;

    input {
      flex: 2;
    }
  }
}
