@include block('opux-input') {
  @include box-shadow(1px, 1px, 0px, rgba(0, 0, 0, .1), true);
  @include opux-color-transition;
  background: none;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  color: $basic-text-colour;
  font-size: 1rem;
  font-weight: 300;
  outline: none;
  padding: .75rem .5rem;
  width: 100%;

  &:focus,
  &:active {
    border: 1px solid $OP-orange;
    outline: none;
  }

  @include modifier('hidden') {
    display: none;
  }

  // opux-input--inline
  @include modifier('inline') {
    display: inline-block;
    width: 90px;
    text-align: center;
    margin: 0 5px;
  }

  // opux-input--error
  @include modifier('error') {
    border: 1px solid $OP-red;
  }

  // opux-input--text
  @include modifier('text') {
    box-sizing: border-box;
    min-height: 2rem;
  }

  // opux-input--textarea
  @include modifier('textarea') {
    height: 10rem;
    resize: none;
  }

  // opux-input--select
  @include modifier('select') {
    -webkit-appearance: none;
    font-family: $font-family;
    font-size: 1rem;
    font-weight: 300;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    // opux-input--select--time
    @include modifier('time') {
      height: 48px;
      line-height: 48px;
      max-width: 220px;
    }
  }

  // opux-input--checkbox
  @include modifier('checkbox') {
    display: none;
    &:checked + label {
      &:after {
        background: $OP-orange;
      }
    }

    // opux-input--checkbox--multi-select
    @include modifier('multi-select') {
      &:checked + label {
        color: $OP-orange !important;
        &:after {
          background: $OP-white;
        }
      }
    }
  }

  // opux-input--radio
  @include modifier('radio') {
    display: none;
    &:checked + label {
      &:after {
        background: $OP-orange;
      }
    }
  }

  // opux-input__info
  @include element('info') {
    font-size: .8rem;
    margin-top: .2rem;
  }

  // opux-input__container
  @include element('container') {
    box-sizing: border-box;
    position: relative;

    // opux-input__container--date-picker
    @include modifier('date-picker') {
      padding-right: 4.5rem;
      position: relative;
      &:before {
        border: 1px solid $OP-gray-medium;
        border-radius: 2px;
        box-sizing: border-box;
        display: block;
        font-size: 1.8rem;
        height: 50px;
        line-height: 48px;
        padding: 0px;
        position: absolute;
        right: 20px;
        text-align: center;
        top: 0px;
        width: 50px;
      }

      @include block('opux-date-picker-trigger') {
        background: rgba(255, 255, 255, 0);
        height: 100%;
        left: 0px;
        opacity: 0;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 3;
      }
    }

    // opux-input__container--number-tick
    @include modifier('number-tick') {
      position: relative;
      box-sizing: border-box;
      padding-left: 55px;
      padding-right: 55px;
      margin: 0 auto;
      max-width: 200px;

      input {
        text-align: center;
      }

      .opux-number-tick-input__control {
        position: absolute;
        &:before {
          background: $OP-orange;
          border-radius: 2px;
          border: 1px solid $OP-orange;
          box-sizing: border-box;
          color: $OP-white;
          cursor: pointer;
          display: block;
          height: 51px;
          line-height: 49px;
          text-align: center;
          width: 51px;
        }
        &.opux-icon-minus {
          left: 0px;
          top: 0px;
        }
        &.opux-icon-plus {
          right: 0px;
          top: 0px;
        }
      }
    }
  }

  // opux-input__label
  @include element('label') {
    @include opux-color-transition;
    display: block;
    padding: .5rem 0;
    width: 100%;
    font-size: 1rem;

    // opux-input__label--error
    @include modifier('error') {
      color: $OP-red;
    }

    // opux-input__label--required
    @include modifier('required') {
      &:after {
        content: " *";
      }
    }

    // opux-input__label--multi-select
    @include modifier('multi-select') {
      @include flex(0, 0, 20%);
      @include flex-direction(column);
      @include flexbox;
      @include justify-content(center);
      box-sizing: border-box;
      cursor: pointer;
      padding: 1.5rem 0;
      text-align: center;
    }

    // opux-input__label--categories
    @include modifier('categories') {
      font-size: 1.5rem;
      font-weight: 300;
    }

    // opux-input__label--radio
    @include modifier('radio') {
      @include align-items(flex-start);
      @include flex-direction(column);
      @include flexbox;
      @include justify-content(center);
      box-sizing: border-box;
      cursor: pointer;
      line-height: 1.3;
      margin: 1rem 0;
      min-height: 30px;
      padding-left: 45px;
      position: relative;
      width: 100%;

      &:before {
        @include box-shadow(1px, 1px, 3px, $OP-gray-medium , true);
        border-radius: 50%;
        border: 1px $OP-gray-medium solid;
        box-sizing: border-box;
        content: "";
        display: block;
        height: 30px;
        left: 0px;
        margin-top: -15px;
        position: absolute;
        top: 50%;
        top: 50%;
        width: 30px;
      }

      &:after {
        @include opux-color-transition;
        background: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        content: "";
        display: block;
        height: 18px;
        left: 6px;
        margin-top: -9px;
        position: absolute;
        top: 50%;
        width: 18px;
      }
    }

    // opux-input__label--checkbox
    @include modifier('checkbox') {
      @include align-items(flex-start);
      @include flex-direction(column);
      @include flexbox;
      @include justify-content(center);
      box-sizing: border-box;
      cursor: pointer;
      line-height: 1.3;
      margin: 1rem 0;
      min-height: 30px;
      padding-left: 45px;
      position: relative;
      width: 100%;

      &:before {
        border: 1px $OP-gray-medium solid;
        box-sizing: border-box;
        content: "";
        display: block;
        height: 30px;
        left: 0px;
        margin-top: -15px;
        position: absolute;
        top: 50%;
        top: 50%;
        width: 30px;
        border-radius: 2px;
      }

      &:after {
        @include opux-color-transition;
        background: transparent;
        border-radius: 2px;
        box-sizing: border-box;
        color: $OP-white;
        content: "\e905";
        display: block;
        font-family: 'hiiop-uncircled' !important;
        font-size: 1.3rem;
        height: 30px;
        left: 0px;
        line-height: 30px;
        margin-top: -15px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 30px;
      }
    }

  }
}

.dropzone.dz-clickable {
  border-radius: 3px;
  border: 1px solid $OP-gray-medium;
  min-height: 70px;
  padding: 2rem 0;

  .dz-message {
    margin: 0px;
    * {
      &:before {
        background: url(/img/camera.png);
        background-size: cover;
        margin-right: 4px;
        vertical-align: middle;
        height: 25px;
        width: 30px;
        display: inline-block;
        content: "";
      }
    }
  }
}
