@include viewports(tiny small) {
  @include block('opux-page-section') {

    // opux-page-section--header
    @include modifier('header') {
      background: $OP-white;
      height: $header-height;
      left: 0px;
      position: fixed;
      top: 0px;
      width: 100%;
      z-index: 999;
    }
  }
}

@include viewports(small) {

  // opux-card-container
  @include block('opux-card-container') {
    @include flex(0, 0, calc(100% * (1/2) - 1rem));
  }
}


@include viewports(tiny) {

  // opux-card-container
  @include block('opux-card-container') {
    @include flex(0, 0, calc(100% - 1rem));
  }
}
