@include block('opux-page-section') {
  @include flex-direction(row);
  @include flexbox;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $screen-large;
  padding: 0 1rem;
  width: 100%;

  // opux-page-section--header
  @include modifier('header') {
    @include box-shadow(-5px, 0px, 12px, rgba(122, 122, 122, 0.5))
    background: $OP-white;
    box-sizing: border-box;
    font-size: 20px;
    left: 0px;
    max-width: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
  }
}

@include block('opux-section') {
  display: block;
  width: 100%;
}

@include block('opux-content') {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $screen-large;
  padding: 1rem;
  width: 100%;

  @include modifier('medium') {
    max-width: 900px;
  }

  @include modifier('small') {
    max-width: 620px;
  }

  @include modifier('quest-image-header') {
    background-color: $OP-gray-light;
    background-size: cover;
    display: block;
    height: 1px;
    padding-bottom: 50%;
  }

  @include modifier('quest-header') {
    font-size: 1.3rem;
    p {
      margin-bottom: .5rem;
    }
  }

  @include modifier('quest-footer') {
    font-size: 1.3rem;
  }
}

@include block('opux-card-list-container') {
  background: $OP-gray-light;
  margin: 3rem -1rem 3rem -1rem;
  min-width: 100%;
  padding: 1.5rem 1rem;
}

@include block('opux-card-list') {
  @include align-items(start);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include flexbox;
  padding-bottom: 2rem;
  width: 100%;

  @include modifier('centered') {
    @include justify-content(center);
  }

  @include element('subtitle') {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

@include block('opux-card-container') {
  @include flex(0, 0, calc(100% * (1/3) - 1rem));
  @include flex-direction(column);
  @include flexbox;
  box-sizing: border-box;
  margin: .5rem;
}

@include block('opux-card') {
  font-size: .9rem;
  font-weight: 400;
  width: 100%;

  // opux-inline-icon
  @include block('opux-inline-icon') {
    width: 50%;

    &.opux-inline-icon-clock {
      padding-left: 2.5rem;
      &:before {
        left: 1rem;
      }
    }
  }

  // opux-card__status
  @include element('status') {
    padding: .5rem;
  }

  // opux-card__title
  @include element('title') {
    box-sizing: border-box;
    color: $basic-text-colour;
    display: block;
    font-size: 1.3rem;
    font-weight: 300;
    padding: .7rem;
    text-align: left;
    width: 100%;
  }

  // opux-card__image-container
  @include element('image-container') {
    width: 100%;
  }

  // opux-card__image
  @include element('image') {
    height: auto;
    width: 100%;
  }

  // opux-card__content
  @include element('content') {
    background: $OP-white;
    width: 100%;
  }

  // opux-card__actions
  @include element('actions') {
    background: $OP-white;
    border-top: 1px solid $OP-gray-light;
    box-sizing: border-box;
    padding: .8rem;
    text-align: center;
    width: 100%;
  }
}

@include block('opux-card-filter') {
  width: 100%;
  @include flexbox;
  @include flex-direction(row);

  @include element('field') {
    @include flex(1);

    @include modifier('category') {
      @include flex(2);
    }
  }
}

@include block('opux-centered') {
  text-align: center;
}

@include block('opux-line') {
  margin: 2rem 0;
  border-bottom: 1px solid $OP-gray;
  height: 1px;
  width: 100%;
}
