@include block('opux-button') {
  @include opux-color-transition;
  background: none;
  border-radius: 25px;
  border: 1px solid $OP-gray-medium;
  box-sizing: border-box;
  color: $OP-gray;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 200;
  height: 50px;
  line-height: 48px;
  min-width: 180px;
  outline: 0;
  padding: 12px 18px;
  text-align: center;
  &:hover {
    border-color: $OP-orange;
  }
  &:disabled {
    background: $OP-gray-light;
    border-color: darken($OP-gray-light, 10);
    color: darken($OP-gray-light, 20);
    &:hover {
      background: $OP-gray-light;
      border-color: darken($OP-gray-light, 10);
      color: darken($OP-gray-light, 20);
    }
  }

  // opux-button--spacing
  @include modifier('spacing') {
    margin: .5rem;
  }

  // opux-button--highlight
  @include modifier('highlight') {
    background: $OP-orange;
    border-color: $OP-orange;
    color: $OP-white;
    &:hover {
      background: lighten($OP-orange, 8);
      border-color: lighten($OP-orange, 8);
    }
  }

  // opux-button--white
  @include modifier('white') {
    border-color: $OP-white;
    color: $OP-white;
    &:hover {
      background: rgba($OP-white, 0.3);
      border-color: $OP-white;
    }
  }

  // opux-button--small
  @include modifier('small') {
    height: 35px;
    line-height: 35px;
    min-width: 0;
  }

  // opux-button--icon
  @include modifier('icon') {
    height: 35px;
    line-height: 35px;
    min-width: 0px;
    &:hover {
      color: $OP-orange;
    }
  }

  // opux-button--dull
  @include modifier('dull') {
    background: $OP-gray-light;
    border-color: $OP-gray-medium;
    &:hover {
      background: lighten($OP-gray-light, 2);
      border-color: $OP-orange;
    }
  }

  // opux-button--icon
  @include modifier('icon') {
    background: transparent;
    border: 0;
    font-size: 18px;
  }

  // opux-button--underline
  @include modifier('underline') {
    padding: 0px .5rem;
    text-decoration: underline;
    color: $basic-text-colour;
    border: 0;
    &:hover {
      color: $OP-orange;
      background: none;
    }
  }

  // opux-button--long-text
  @include modifier('long-text') {
    height: auto;
    line-height: 1;
    min-height: 50px;
    padding: 12px 18px;
  }
}

@include block('opux-card-action') {
  cursor: pointer;
  display: inline-block;
  margin: 0 .4rem;
  &:before {
    color: $OP-gray-medium;
    font-size: 2.8rem;
  }
}
