@include block('opux-button') {
  @include opux-color-transition;
  background: none;
  border-radius: 24px;
  border: 1px solid $OP-gray-medium;
  box-sizing: border-box;
  color: $OP-gray;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 48px;
  min-width: 240px;
  outline: 0;
  padding: 0 20px;
  text-align: center;
  &:hover {
    background: $OP-orange;
    border-color: $OP-orange;
    color: $OP-white;
  }
  &:disabled {
    color: lighten($OP-gray, 30);
  }

  // opux-button--spacing
  @include modifier('spacing') {
    margin: .5rem;
  }

  // opux-button--highlight
  @include modifier('highlight') {
    background: $OP-orange;
    color: $OP-white;

    &:disabled {
      color: darken($OP-white, 10);
    }
  }

  // opux-button--white
  @include modifier('white') {
    border-color: $OP-white;
    color: $OP-white;
  }

  // opux-button--dull
  @include modifier('dull') {
    background: $OP-gray-light;
  }

  @include modifier('icon') {
    background: transparent;
    border: 0;
    font-size: 18px;
  }
}

@include block('opux-card-action') {
  cursor: pointer;
  display: inline-block;
  margin: 0 .4rem;
  &:before {
    color: $OP-gray-medium;
    font-size: 2.8rem;
  }
}
