#top-navigation {
  @include flex(12);
}

@include block('opux-nav') {
  @include flex-direction(row);
  @include flexbox;

  @include modifier('header') {
    display: block;
    float: left;
    width: 100%;
  }
}

@include block('opux-menu') {
  height: $header-height;
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: left;

  // opux-menu--main
  @include modifier('main') {
    display: block;
    float: left;
  }

  @include modifier('right') {
    display: block;
    float: right;
  }

  // opux-menu--languages
  @include modifier('languages') {
  }

  // opux-menu--login
  @include modifier('login') {
  }

  // opux-menu__item
  @include element('item') {
    display: block;
    float: left;

    // opux-menu__item--languages
    @include modifier('languages') {
      text-align: center;
      float: left;
      &:first-child {
        position: relative;
        &:after {
          border-right: 1px solid $OP-gray;
          content: "";
          display: inline-block;
          height: 30px;
          margin-top: -15px;
          position: absolute;
          right: 0px;
          top: 50%;
          width: 1px;
        }
      }
    }

    // opux-menu__item--login
    @include modifier('login') {
      @include flex-direction(column);
      @include flexbox;
      @include justify-content(center);
      height: $header-height;
      padding-left: 1rem;
    }
  }

  // opux-menu__item-link
  @include element('item-link') {
    color: $basic-text-colour;
    text-decoration: none;

    // opux-menu__item-link--main
    @include modifier('main') {
      float: left;
      height: $header-height;
      line-height: $header-height;
      padding: 0 1rem;
      text-align: center;
      width: 100%;
    }

    // opux-menu__item-link--languages
    @include modifier('languages') {
      display: block;
      height: $header-height;
      line-height: $header-height;
      padding: 0 .5rem;
      text-transform: uppercase;

      // opux-menu__item-link--languages--is-active
      @include state('active') {
        color: $OP-orange;
      }
    }

    // opux-menu__item-link--login
    @include modifier('login') {
      .opux-icon-circled.opux-icon-person {
        display: inline-block;
        &:before {
          font-size: 50px;
        }
      }
    }
  }
}
