// opux-form
@include block('opux-form') {
  width: 100%;
}

// opux-form-section
@include block('opux-form-section') {
  @include flex-direction(column);
  @include flexbox;
  margin-bottom: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;

  // opux-form__fieldset
  @include element('fieldset') {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 640px;
    padding: 0 1rem;
    width: 100%;
  }

  @include modifier('no-border') {
    border: 0;
  }

  h1, h2, h3, h4 {
    text-align: center;
  }
}

@include block('opux-fieldset') {
  width: 100%;
  .error {
    color: $OP-red;
  }

  // opux-fieldset--multi-select
  @include modifier('multi-select') {
    @include align-items(flex-start);
    @include flex-direction(row);
    @include flexbox;
    @include flex-wrap(wrap);
    font-size: .8rem;
    font-weight: 400;
    width: 100%;
    input.hidden {
      display: none;
    }
  }

  // opux-fieldset__item
  @include element('item') {
    margin-bottom: 25px;

    // opux-fieldset__item--inline-container
    @include modifier('inline-container') {
      @include align-items(flex-start);
      @include flex-direction(row);
      @include flexbox;
    }
  }

  // opux-fieldset__inline-item
  @include element('inline-item') {
    @include flex(0, 0, 50%);
    @include flex-direction(column);
    @include flexbox;
    &.opux-form__button {
      @include align-items(center);
      max-width: 45%;
      min-width: auto;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
  }
}

@include block('opux-card-filter') {

  // opux-card-filter__field
  @include element('field') {

    // opux-card-filter__field--location
    @include modifier('location') {
      box-sizing: border-box;
      padding-right: 1.5rem;
    }

    // opux-card-filter__field--category
    @include modifier('category') {
      position: relative;

      // opux-card-filter opux-form-section
      @include block('opux-form-section') {
        @include box-shadow(5px, 5px, 15px, rgba(122, 122, 122, 0.5));
        background: $OP-white;
        border: 1px solid $OP-gray-medium;
        left: 0px;
        position: absolute;
        top: 100px;
        width: 600px;
        z-index: 99;
        padding-bottom: 0px;
        opacity: 0;
        transform: scaleY(0) scaleX(0);
        transition: transform .2s ease, opacity .2s ease;
        &:before {
          background: $OP-white;
          border-color: $OP-gray-medium;
          border-style: solid;
          border-width: 1px 1px 0px 0px;
          content: "";
          display: block;
          height: 25px;
          left: 35px;
          position: absolute;
          top: -13px;
          transform: rotate(-45deg);
          width: 25px;
          z-index: 0;
        }
      }

      // opux-card-filter__field-category.is-active
      @include state('active') {
        @include block('opux-category-filter-switch') {
          transform: rotate(45deg);
        }

        @include block('opux-form-section') {
          transform: scaleY(1) scaleX(1);
          opacity: 1;
        }
      }
    }
  }
}

@include block('opux-register-link') {
  display: inline-block;
  width: 50%;
}


@include block('opux-forget-password-link') {
  display: inline-block;
  width: 50%;
}

@include block('opux-register-link') {
  text-align: right;
}


@include block('opux-forget-password-link') {
  text-align: left;
}
