// Generate multi-select icons
$opux-icon-multi-select-name-collection: (elderly, equality, culture, foreign-aid, disabilities, kids-and-youngsters, well-being, environment, peer-support, inequality, end);

$opux-icon-cross-name-collection: (eyeglasses, law, sound, globe, handicap, children, football, water, personnel, smiley-disappointed, end);

@mixin opux-multi-select-icon-generate(
  $selector, $names: $opux-icon-multi-select-name-collection,
  $codes: $opux-icon-cross-name-collection
) {
  @for $i from 1 to length($names) {
    $name: nth($names, $i);
    #{$selector}--#{$name}:before {
      @include opux-icon-named(nth($codes, $i))
    }
  }
}

@include opux-multi-select-icon-generate('.opux-icon--multi-select');
@include opux-multi-select-icon-generate('.opux-icon--filter');

@include block('opux-icon') {
  // opux-icon--multi-select
  @include modifier('multi-select') {
    padding-bottom: .5rem;
    &:before {
      font-weight: 200;
      font-size: 3rem;
    }
  }

  // opux-icon--filter
  @include modifier('filter') {
    padding-bottom: 0;
    margin: .2rem;
    &:before {
      font-weight: 200;
      font-size: 3rem;
    }
  }
}

@include block('opux-logo') {
  @include flexbox;
  padding: 0px;
  a {
    color: $basic-text-colour;
    font-weight: 300;
    padding-right: 50px;
    position: relative;
    text-decoration: none;
    &:before {
      color: $OP-orange;
      content: "beta";
      display: block;
      font-size: .9rem;
      font-weight: 400;
      margin-top: -10px;
      position: absolute;
      right: 20px;
      top: 15px;
    }
  }

  // opux-logo--header
  @include modifier('header') {
    @include flex(1);
    @include flex-direction(column);
    @include align-items(flex-start);
    @include justify-content(center);
    height: $header-height;
  }
}

// opux-inline-icon
@include block('opux-inline-icon') {
  box-sizing: border-box;
  display: inline-block;
  padding: .5rem .5rem .5rem 2rem;
  position: relative;
  line-height: 1.5rem;

  &:before {
    font-size: 1.3rem;
    left: .5rem;
    position: absolute;
  }

  // opux-inline-icon--right
  @include modifier('right') {
    text-align: right;
    padding: .5rem 2rem .5rem .5rem;

    &:before {
      left: auto;
      right: .5rem;
    }
  }
}

@include block('opux-category-filter-switch') {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin: .2rem;
  transition: transform .2s ease;
  &:before {
    border-radius: 50%;
    border: 2px dashed $OP-gray;
    box-sizing: border-box;
    height: 54px;
    line-height: 52px;
    text-align: center;
    width: 54px;
  }
}

.opux-content--quest-header,
.opux-content--quest-footer {
  @include block('opux-icon') {
    &:before {
      font-size: 1.5rem;
    }
    margin-right: .5rem;
    margin-top: -.2rem;
  }
}

@include block('opux-op-logo') {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDEgNTAiPjxjaXJjbGUgY3g9IjI1IiBjeT0iMjUiIHI9IjI1IiBmaWxsPSIjZmY2YTEwIi8+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSI1IiBzdHJva2U9IiNmZmYiIGQ9Ik04IDI1YTguNSA4LjUgMCAxIDAgMTcgMCA4LjUgOC41IDAgMSAwLTE3IDBtMTcgMGE4LjUgOC41IDAgMSAwIDE3IDAgOC41IDguNSAwIDEgMC0xNyAwbTAtMTkuNXYzOSIvPjxwYXRoIGZpbGw9IiM2ZTZlNmUiIGQ9Ik03MC41IDM5LjFjLTYuOSAwLTkuMi01LjEtOS4yLTEwLjF2LTcuOGMwLTUuMSAyLjMtMTAuMSA5LjItMTAuMSA2LjkgMCA5LjIgNS4xIDkuMiAxMC4xVjI5Yy0uMSA1LTIuNCAxMC4xLTkuMiAxMC4xem02LjYtMTcuOWMwLTQuMy0xLjctNy44LTYuNy03LjhzLTYuNyAzLjYtNi43IDcuOFYyOWMwIDQuMyAxLjcgNy44IDYuNyA3LjhzNi43LTMuNiA2LjctNy44di03Ljh6TTkyLjQgMjcuNUg4NnYxMC4zYzAgLjctLjUgMS4yLTEuMiAxLjJzLTEuMi0uNS0xLjItMS4yVjEyLjZjMC0uNy42LTEuMiAxLjItMS4ySDkyYzYuNCAwIDguNyAzLjcgOC43IDcuMnYxLjljMCA0LjEtMy4xIDctOC4zIDd6bTUuOC04LjljMC0yLjItMS40LTQuOS02LjMtNC45SDg2djExLjZoNi4zYzQgMCA1LjktMi4yIDUuOS00Ljh2LTEuOXoiLz48L3N2Zz4=) top left no-repeat;
  display: block;
  background-size: auto 100%;
  height: 50px;
  position: relative;
  width: 130px;
}

@include block('opux-icon-social') {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 30px;
  margin-right: .2rem;
  width: 30px;

  // opux-icon-social--fb
  @include modifier('fb') {
    background-image: url(/img/share/share_fb_disabled.svg);

    // opux-icon-social--fb.is-disabled
    @include state('disabled') {
      background-image: url(/img/share/share_fb_disabled.svg);
    }
  }

  // opux-icon-social--fb-share
  @include modifier('fb-share') {
    background-image: url(/img/share/share_fb.svg);
    height: 40px;
    width: 40px;

    // opux-icon-social--fb.is-disabled
    @include state('disabled') {
      background-image: url(/img/share/share_fb_disabled.svg);
    }
  }

  // opux-icon-social--twitter
  @include modifier('twitter') {
    background-image: url(/img/share/share_twitter_disabled.svg);

    // opux-icon-social--twitter.is-disabled
    @incude state('disabled') {
      background-image: url(/img/share/share_twitter_disabled.svg);
    }
  }

  // opux-icon-social--twitter-share
  @include modifier('twitter-share') {
    background-image: url(/img/share/share_twitter.svg);
    height: 40px;
    width: 40px;

    // opux-icon-social--twitter.is-disabled
    @incude state('disabled') {
      background-image: url(/img/share/share_twitter_disabled.svg);
    }
  }

  // opux-icon-social--instagram
  @include modifier('instagram') {
    background-image: url(/img/share/share_instagram_disabled.svg);

    // opux-icon-social--instagram.is-disabled
    @incude state('disabled') {
      background-position: -90px -90px !important;
    }
  }
}
