html, body {
  color: $basic-text-colour;
  font-family: $font-family;
  font-size: 18px;
  font-weight: 300;
  height: 100%;
  line-height: 1.3;
}

pre {
  color: $basic-text-colour;
  font-family: $font-family;
  font-size: 18px;
  font-weight: 300;
  height: 100%;
  line-height: 1.3;
  white-space: pre-line;
}

input,
textarea,
button,
select,
pre {
  font-family: $font-family;
}

h1, h2, h3 {
  line-height: 1.3;
  padding: 1rem 0;
}

h1 {
  color: $OP-dark-gray;
  font-size: 2.3rem;
  font-weight: 300;
  text-align: center;
}

h2 {
  color: $OP-dark-gray;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

h3 {
  color: $OP-dark-gray;
  font-size: 1.5rem;
  font-weight: 300;
}

a {
  color: $link-colour;
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}
