// Generate multi-select icons
$opux-icon-multi-select-name-collection: (elderly, equality, culture, foreign-aid, disabilities, kids-and-youngsters, well-being, environment, peer-support, inequality, end);

$opux-icon-cross-name-collection: (eyeglasses, law, sound, globe, handicap, children, football, water, personnel, smiley-disappointed, end);

@mixin opux-multi-select-icon-generate(
  $selector, $names: $opux-icon-multi-select-name-collection,
  $codes: $opux-icon-cross-name-collection
) {
  @for $i from 1 to length($names) {
    $name: nth($names, $i);
    #{$selector}--#{$name}:before {
      @include opux-icon-named(nth($codes, $i))
    }
  }
}

@include opux-multi-select-icon-generate('.opux-icon--multi-select');

@include block('opux-icon') {
  // opux-icon--multi-select
  @include modifier('multi-select') {
    padding-bottom: .5rem;
    &:before {
      font-weight: 200;
      font-size: 3rem;
    }
  }
}

@include block('opux-logo') {
  @include flexbox;
  padding: 0px;
  a {
    color: $basic-text-colour;
    font-weight: 300;
    text-decoration: none;
  }

  // opux-logo--header
  @include modifier('header') {
    @include flex(1);
    @include flex-direction(column);
    @include align-items(flex-start);
    @include justify-content(center);
    height: $header-height;
  }
}

// opux-inline-icon
@include block('opux-inline-icon') {
  box-sizing: border-box;
  display: inline-block;
  padding: .5rem .5rem .5rem 2rem;
  position: relative;
  line-height: 1.5rem;

  &:before {
    font-size: 1.3rem;
    left: .5rem;
    position: absolute;
  }

  // opux-inline-icon--right
  @include modifier('right') {
    text-align: right;
    padding: .5rem 2rem .5rem .5rem;

    &:before {
      left: auto;
      right: .5rem;
    }
  }
}

.opux-content--quest-header,
.opux-content--quest-footer {
  @include block('opux-icon') {
    &:before {
      font-size: 1.5rem;
    }
    margin-right: .5rem;
    margin-top: -.2rem;
  }
}
