// Define what ranges you want and what they're called:
$screen-large: 1024px;
$screen-medium: 768px;
$screen-small: 480px;

$VIEWPORTS_CONFIG:
  up-to $screen-small it-is "tiny",
  up-to $screen-medium it-is "small",
  up-to $screen-large it-is "medium",
  beyond-that it-is "large";

$font-family: Chevin, Helvetica, Arial, sans-serif;
$OP-gray-light: #F0F0F0;
$OP-dark-gray: #323232;
$OP-orange: #FF6A10;
$OP-gray: #6E6E6E;

$basic-text-colour: $OP-gray;
$highlight-colour: $OP-orange;
$link-colour: $OP-orange;

$header-height: 100px;
